Repository TELEUZI/control.ts: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm run lint:fix

.lintstagedrc:

{
  "*.{json,js,ts,html}": ["pnpm run format"],
  "*.{js,ts}": ["pnpm run lint:fix"]
}

feat: add tests for packages
  package.json
  packages/design-system/src/components/button/button.spec.ts
  packages/min/src/tests/base-component.test.ts
  turbo.json
Due: pnpm run format, pnpm run lint:fix

fix: cache storybook
  turbo.json
Due: pnpm run format

fix: add build script to storybook
  apps/storybook/package.json
Due: pnpm run format

chore: remove deprecated operation
  apps/web/package.json
Due: pnpm run format

refactor: move bc-to-fc to each package
  packages/design-system/src/utils/index.ts
  packages/min/package.json
  packages/min/src/bc-to-fc.ts
  packages/signals/package.json
  packages/signals/src/bc-to-fc.ts
Due: pnpm run format, pnpm run lint:fix

feat: add changelog
  .changeset/rich-items-call.md
Due: none

fix: fix build
  packages/design-system/src/index.ts
Due: pnpm run format, pnpm run lint:fix

fix: fix build
  .changeset/rich-items-call.md
  packages/design-system/src/index.ts
Due: pnpm run format, pnpm run lint:fix

refactor: move bc-to-fc to each package (#19)
  .changeset/rich-items-call.md
  packages/design-system/src/index.ts
  packages/design-system/src/utils/index.ts
  packages/min/package.json
  packages/min/src/bc-to-fc.ts
  packages/signals/package.json
  packages/signals/src/bc-to-fc.ts
Due: pnpm run format, pnpm run lint:fix

feat: add new APIs to packages
  apps/web/src/app/components/modal/modal-window.ts
  packages/control/src/control.ts
  packages/min/src/index.ts
  packages/signals/src/index.ts
Due: pnpm run format, pnpm run lint:fix

feat: add changelog
  .changeset/popular-houses-fry.md
Due: none

Bc to fc (#21)
  .changeset/popular-houses-fry.md
  apps/web/src/app/components/modal/modal-window.ts
  packages/control/src/control.ts
  packages/min/src/index.ts
  packages/signals/src/index.ts
Due: pnpm run format, pnpm run lint:fix

refactor: improve perf by removing useless spreads
  packages/control/src/factories.ts
  packages/min/src/factories.ts
  packages/signals/src/factories.ts
Due: pnpm run format, pnpm run lint:fix

refactor: move styling methods to the control class
  packages/control/src/control.ts
  packages/min/src/base-component.ts
Due: pnpm run format, pnpm run lint:fix

test: add tests for min package
  packages/min/src/tests/base-component.test.ts
  packages/min/src/tests/factories.test.ts
Due: pnpm run format, pnpm run lint:fix

feat: improve base component API
  packages/min/src/base-component.ts
Due: pnpm run format, pnpm run lint:fix

feat: add signal-based components (#10)
  .changeset/angry-experts-shake.md
  packages/min/src/base-component.ts
  packages/signals/src/utils/is-nullable.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix

feat: remove children array and use mutation observer
  .changeset/angry-experts-shake.md
  packages/control/package.json
  packages/control/src/control.ts
  packages/control/src/index.ts
  packages/control/src/observer.ts
  packages/min/src/base-component.ts
  packages/min/src/tests/base-component.test.ts
  packages/signals/src/base-component.ts
  packages/signals/src/tests/base-component.test.ts
  packages/signals/src/utils/is-nullable.ts
  packages/tags-scraper/src/index.ts
Due: pnpm run format, pnpm run lint:fix

fix: remove useless async
  packages/signals/src/tests/base-component.test.ts
Due: pnpm run format, pnpm run lint:fix

fix: remove changes for tags-scraper
  packages/tags-scraper/src/index.ts
Due: pnpm run format, pnpm run lint:fix

feat: remove useless destroyChild method
  packages/control/src/control.ts
Due: pnpm run format, pnpm run lint:fix

refactor: remove magic number
  packages/min/src/tests/base-component.test.ts
  packages/signals/src/tests/base-component.test.ts
Due: pnpm run format, pnpm run lint:fix

ci: add testing on CI
  .github/workflows/main.yml
  package.json
  packages/control/package.json
  packages/design-system/package.json
  packages/min/package.json
  packages/signals/package.json
  turbo.json
Due: pnpm run format

refactor: remove comments
  .github/workflows/main.yml
Due: none

refactor: use return value from `Object.assign`
  packages/min/src/base-component.ts
Due: pnpm run format, pnpm run lint:fix

feat: update element-tags creation
  packages/tags-scraper/src/index.ts
Due: pnpm run format, pnpm run lint:fix

fix: element-tags creation naming loop add constans
  packages/control/src/element-tags.ts
  packages/min/src/component-tags.ts
  packages/tags-scraper/src/index.ts
Due: pnpm run format, pnpm run lint:fix

fix: additionalCharacter in function createFileElementsFileContent
  packages/control/src/element-tags.ts
  packages/tags-scraper/src/index.ts
Due: pnpm run format, pnpm run lint:fix

fix: import path in func createElementFileContent
  packages/tags-scraper/src/index.ts
Due: pnpm run format, pnpm run lint:fix

fix: import path in function createElementsFileContent
  packages/tags-scraper/src/index.ts
Due: pnpm run format, pnpm run lint:fix

fix: imports
  packages/control/src/element-tags.ts
  packages/min/src/component-tags.ts
  packages/signals/src/component-tags.ts
  packages/tags-scraper/src/index.ts
Due: pnpm run format, pnpm run lint:fix

fix: naming in tags-scraper/index.js
  packages/tags-scraper/src/index.ts
Due: pnpm run format, pnpm run lint:fix

feat: update element-tags creation (#25)
  packages/control/src/element-tags.ts
  packages/min/src/component-tags.ts
  packages/signals/src/component-tags.ts
  packages/tags-scraper/src/index.ts
Due: pnpm run format, pnpm run lint:fix

chore: update turbo version
  package.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm run format

chore(tsconfig): rewrite module defenition
  packages/typescript-config/base.json
Due: pnpm run format

chore(package.json): change type to module
  package.json
Due: pnpm run format
