Repository TELEUZI/control.ts: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm run lint:fix

.lintstagedrc:

{
  "*.{json,js,ts,html}": ["pnpm run format"],
  "*.{js,ts}": ["pnpm run lint:fix"]
}

fix: revert changes made in PR #26
  package.json
  packages/typescript-config/base.json
Due: pnpm run format

chore: update packages, update docker
  apps/storybook/CHANGELOG.md
  apps/storybook/Dockerfile
  apps/storybook/package.json
  apps/web/CHANGELOG.md
  apps/web/package.json
  package.json
  packages/control/CHANGELOG.md
  packages/control/package.json
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/min/CHANGELOG.md
  packages/min/package.json
  packages/min/src/base-component.ts
  packages/signals/CHANGELOG.md
  packages/signals/package.json
  packages/tags-scraper/package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix

feat: add tests for packages
  package.json
  packages/design-system/src/components/button/button.spec.ts
  packages/min/src/tests/base-component.test.ts
  turbo.json
Due: pnpm run format, pnpm run lint:fix

test: add tests for min package
  packages/min/src/tests/base-component.test.ts
  packages/min/src/tests/factories.test.ts
Due: pnpm run format, pnpm run lint:fix

chore(package.json): change type to module
  package.json
Due: pnpm run format

fix: cache storybook
  turbo.json
Due: pnpm run format

Docker (#14)
  .dockerignore
  .ignore
  apps/storybook/.storybook/main.ts
  apps/storybook/Dockerfile
  docker-compose.yml
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix

refactor: use develop as a release branch
  .changeset/config.json
  .changeset/healthy-dots-sneeze.md
  .github/workflows/release.yml
Due: pnpm run format

fix: fix base component typing (#17)
  .changeset/neat-candles-arrive.md
  packages/min/src/base-component.ts
Due: pnpm run format, pnpm run lint:fix

refactor: remove useless nullable files
  packages/control/src/index.ts
  packages/control/src/utils/index.ts
  packages/min/src/base-component.ts
  packages/min/src/utils/is-nullable.ts
  packages/signals/src/base-component.ts
  packages/signals/src/utils/is-nullable.ts
Due: pnpm run format, pnpm run lint:fix

docs: add info about signals
  README.md
Due: none

chore(tsconfig): rewrite module defenition
  packages/typescript-config/base.json
Due: pnpm run format

refactor: move bc-to-fc to each package (#19)
  .changeset/rich-items-call.md
  packages/design-system/src/index.ts
  packages/design-system/src/utils/index.ts
  packages/min/package.json
  packages/min/src/bc-to-fc.ts
  packages/signals/package.json
  packages/signals/src/bc-to-fc.ts
Due: pnpm run format, pnpm run lint:fix

chore: remove deprecated operation
  apps/web/package.json
Due: pnpm run format

refactor: remove comments
  .github/workflows/main.yml
Due: none

refactor: use return value from `Object.assign`
  packages/min/src/base-component.ts
Due: pnpm run format, pnpm run lint:fix

refactor: move styling methods to the control class
  packages/control/src/control.ts
  packages/min/src/base-component.ts
Due: pnpm run format, pnpm run lint:fix

feat: update element-tags creation (#25)
  packages/control/src/element-tags.ts
  packages/min/src/component-tags.ts
  packages/signals/src/component-tags.ts
  packages/tags-scraper/src/index.ts
Due: pnpm run format, pnpm run lint:fix

refactor: improve perf by removing useless spreads
  packages/control/src/factories.ts
  packages/min/src/factories.ts
  packages/signals/src/factories.ts
Due: pnpm run format, pnpm run lint:fix

fix: add build script to storybook
  apps/storybook/package.json
Due: pnpm run format

Bc to fc (#21)
  .changeset/popular-houses-fry.md
  apps/web/src/app/components/modal/modal-window.ts
  packages/control/src/control.ts
  packages/min/src/index.ts
  packages/signals/src/index.ts
Due: pnpm run format, pnpm run lint:fix

OptimizedImage (#15)
  .changeset/healthy-dots-sneeze.md
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/package.json
  apps/storybook/stories/Image.stories.ts
  apps/storybook/stories/assets/duck-0.8x.jpeg
  apps/storybook/stories/assets/duck-1300w.jpeg
  apps/storybook/stories/assets/duck-1500w.jpeg
  apps/storybook/stories/assets/duck-2x.jpeg
  apps/storybook/stories/assets/duck.jpeg
  package.json
  packages/control/src/control.ts
  packages/design-system/src/components/index.ts
  packages/design-system/src/components/optimized-image/constants/index.ts
  packages/design-system/src/components/optimized-image/generate-srcset.ts
  packages/design-system/src/components/optimized-image/optimized-image.ts
  packages/design-system/src/components/optimized-image/types/loader.ts
  packages/design-system/src/components/optimized-image/utils/create-image-props.ts
  packages/design-system/src/components/optimized-image/utils/deminsions.ts
  packages/design-system/src/components/optimized-image/utils/distortion.ts
  packages/design-system/src/components/optimized-image/utils/has-placeholder.ts
  packages/design-system/src/components/optimized-image/utils/is-base-64-url.ts
  packages/design-system/src/components/optimized-image/utils/keys.ts
  packages/design-system/src/components/optimized-image/utils/object-from-entries.ts
  packages/design-system/src/components/optimized-image/utils/priority.ts
  packages/design-system/src/components/optimized-image/utils/validate-dimensions.ts
  packages/design-system/src/components/optimized-image/utils/validate-placeholder.ts
  packages/design-system/src/components/optimized-image/utils/validate-props.ts
  packages/design-system/src/components/optimized-image/utils/validate-srcset.ts
  packages/design-system/src/index.ts
  packages/design-system/src/types/make-required.ts
  packages/design-system/src/utils/bc-to-fc.ts
  packages/design-system/src/utils/design-system-error.ts
  packages/design-system/src/utils/index.ts
  packages/design-system/tsconfig.json
  packages/min/src/base-component.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix

ci: add testing on CI
  .github/workflows/main.yml
  package.json
  packages/control/package.json
  packages/design-system/package.json
  packages/min/package.json
  packages/signals/package.json
  turbo.json
Due: pnpm run format

refactor: move common parts to the control package
  packages/control/package.json
  packages/control/src/control.ts
  packages/control/src/element-tags.ts
  packages/control/src/factories.ts
  packages/control/src/index.ts
  packages/control/src/mount.ts
  packages/control/src/tests/factories.test.ts
  packages/min/src/base-component.ts
  packages/min/src/element-tags.ts
  packages/min/src/mount.ts
  packages/signals/src/element-tags.ts
  packages/signals/src/mount.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix

chore: update turbo version
  package.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm run format

chore: add changeset
  .changeset/rare-doors-glow.md
Due: none

feat: deprecate bs$ in favor of bcToFc
  apps/storybook/Dockerfile
  packages/min/src/base-component.ts
  packages/signals/src/base-component.ts
Due: pnpm run format, pnpm run lint:fix

ci: update gh actions
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

refactor: refactor BC methods
  packages/signals/src/base-component.ts
Due: pnpm run format, pnpm run lint:fix

refactor: add base support of moving elements, fix BC props, change signal check
  packages/min/src/base-component.ts
  packages/min/src/bc-to-fc.ts
  packages/signals/src/bc-to-fc.ts
  packages/signals/src/utils.ts
Due: pnpm run format, pnpm run lint:fix

chore: update deps
  apps/storybook/package.json
  apps/web/package.json
  package.json
  packages/control/package.json
  packages/design-system/package.json
  packages/min/package.json
  packages/signals/package.json
  pnpm-lock.yaml
Due: pnpm run format

chore: update storybook
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/package.json
  apps/storybook/stories/Button.stories.ts
  apps/storybook/stories/Configure.mdx
  apps/storybook/stories/Header.stories.ts
  apps/storybook/stories/Image.stories.ts
  apps/storybook/stories/Page.stories.ts
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix

ci: fix design system tests
  packages/design-system/vitest.config.mts
Due: none
