Repository TELEUZI/control.ts: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm run lint:fix

Updates
  assets/index-RgdySWlk.js
  assets/index-c5qIY6RD.js
  index.html
Due: pnpm run format, pnpm run lint:fix

Updates
  assets/index-ZAIE-SYM.js
  assets/index-Zpt1JoVB.css
  assets/index-c5qIY6RD.js
  assets/index-cVGWE6kI.css
  index.html
Due: pnpm run format, pnpm run lint:fix

Updates
  assets/index-HJDzUGn9.js
  assets/index-ZAIE-SYM.js
  index.html
Due: pnpm run format, pnpm run lint:fix

refactor: move common parts to the control package
  packages/control/package.json
  packages/control/src/control.ts
  packages/control/src/element-tags.ts
  packages/control/src/factories.ts
  packages/control/src/index.ts
  packages/control/src/mount.ts
  packages/control/src/tests/factories.test.ts
  packages/min/src/base-component.ts
  packages/min/src/element-tags.ts
  packages/min/src/mount.ts
  packages/signals/src/element-tags.ts
  packages/signals/src/mount.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix

docs: add info about signals
  README.md
Due: none

refactor: remove useless nullable files
  packages/control/src/index.ts
  packages/control/src/utils/index.ts
  packages/min/src/base-component.ts
  packages/min/src/utils/is-nullable.ts
  packages/signals/src/base-component.ts
  packages/signals/src/utils/is-nullable.ts
Due: pnpm run format, pnpm run lint:fix

refactor: remove global installation of serve
  .changeset/angry-experts-shake.md
  .dockerignore
  apps/storybook/Dockerfile
  apps/storybook/stories/header.css
Due: none

fix: block sequence entries are not allowed in this context
  docker-compose.yml
Due: none

feat: implement basic dockerfile
  .dockerignore
  .ignore
  Dockerfile
  docker-compose.yml
Due: none

feat: add installer stage
  .dockerignore
  .ignore
  apps/storybook/Dockerfile
  package.json
  pnpm-lock.yaml
  story
Due: pnpm run format

feat: add docker compose
  docker-compose.yml
Due: none

refactor: remove useless file
  story
Due: none

feat: add more files to .dockerginore
  .dockerignore
Due: none

refactor: remove pnpm-lock copy
  apps/storybook/Dockerfile
  package.json
  pnpm-lock.yaml
Due: pnpm run format

feat: add storybook building
  apps/storybook/Dockerfile
Due: none

refactor: move docker file to storybook
  apps/storybook/Dockerfile
Due: none

feat: add hot reload
  apps/storybook/.storybook/main.ts
  apps/storybook/Dockerfile
  docker-compose.yml
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix

perf: reduce docker image size
  apps/storybook/Dockerfile
Due: none

fix: turbo errors
  Dockerfile
  apps/storybook/stories/header.css
  docker-compose.yml
Due: none

feat: add multistage build
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: none

refactor: merge separate RUN instructions into one
  apps/storybook/Dockerfile
Due: none

Docker (#14)
  .changeset/angry-experts-shake.md
  .dockerignore
  .ignore
  apps/storybook/.storybook/main.ts
  apps/storybook/Dockerfile
  docker-compose.yml
  package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix

feat: add optimized image
  apps/storybook/stories/Image.stories.ts
  packages/design-system/src/components/index.ts
  packages/design-system/src/components/optimized-image/optimized-image.ts
  packages/design-system/src/components/optimized-image/utils/create-image-props.ts
  packages/design-system/src/components/optimized-image/utils/image-loading.ts
  packages/design-system/src/components/optimized-image/utils/priority.ts
Due: pnpm run format, pnpm run lint:fix

feat: add background placeholder
  apps/storybook/stories/Image.stories.ts
  packages/design-system/src/components/optimized-image/optimized-image.ts
  packages/design-system/src/components/optimized-image/utils/image-loading.ts
  packages/design-system/src/components/optimized-image/utils/is-base-64-url.ts
  packages/min/src/base-component.ts
Due: pnpm run format, pnpm run lint:fix

feat: add background placeholder
  apps/storybook/stories/Image.stories.ts
Due: pnpm run format, pnpm run lint:fix

feat: add placeholder image blurring
  packages/design-system/src/components/optimized-image/optimized-image.ts
  packages/design-system/src/components/optimized-image/utils/create-image-props.ts
  packages/min/src/base-component.ts
Due: pnpm run format, pnpm run lint:fix

feat: add fill
  packages/design-system/src/components/optimized-image/optimized-image.ts
Due: pnpm run format, pnpm run lint:fix

refactor: remove type assertion
  packages/design-system/src/components/optimized-image/optimized-image.ts
  packages/design-system/src/components/optimized-image/utils/keys.ts
Due: pnpm run format, pnpm run lint:fix

refactor: move props validation into separate file
  apps/storybook/stories/Image.stories.ts
  packages/design-system/src/components/optimized-image/optimized-image.ts
  packages/design-system/src/components/optimized-image/utils/validate-props.ts
Due: pnpm run format, pnpm run lint:fix

refactor: move placeholder validatio into validateProps fn
  apps/storybook/stories/Image.stories.ts
  packages/design-system/src/components/optimized-image/constants/index.ts
  packages/design-system/src/components/optimized-image/optimized-image.ts
  packages/design-system/src/components/optimized-image/utils/validate-placeholder.ts
  packages/design-system/src/components/optimized-image/utils/validate-props.ts
Due: pnpm run format, pnpm run lint:fix

refactor: reduce code amount
  apps/storybook/stories/Image.stories.ts
  packages/design-system/src/components/optimized-image/optimized-image.ts
  packages/design-system/src/components/optimized-image/utils/create-image-props.ts
  packages/design-system/src/components/optimized-image/utils/validate-metrics.ts
  packages/design-system/src/components/optimized-image/utils/validate-props.ts
Due: pnpm run format, pnpm run lint:fix

refactor: rename blurAmount field to blur
  packages/control/src/control.ts
  packages/design-system/src/components/optimized-image/optimized-image.ts
  packages/design-system/tsconfig.json
Due: pnpm run format, pnpm run lint:fix

feat: add image aspect ratio warning
  apps/storybook/stories/Image.stories.ts
  packages/design-system/src/components/optimized-image/optimized-image.ts
  packages/design-system/src/components/optimized-image/utils/create-image-props.ts
  packages/design-system/src/components/optimized-image/utils/distortion.ts
  packages/design-system/src/components/optimized-image/utils/object-from-entries.ts
Due: pnpm run format, pnpm run lint:fix

feat: add computed ratio recomendation
  apps/storybook/stories/Image.stories.ts
  packages/design-system/src/components/optimized-image/utils/distortion.ts
  packages/design-system/src/components/optimized-image/utils/metrics.ts
Due: pnpm run format, pnpm run lint:fix

refactor: move find closestToRatio function into metrics.ts file
  apps/storybook/stories/Image.stories.ts
  packages/design-system/src/components/optimized-image/utils/distortion.ts
  packages/design-system/src/components/optimized-image/utils/metrics.ts
Due: pnpm run format, pnpm run lint:fix

feat: add image style distortion warning
  apps/storybook/stories/Image.stories.ts
  packages/design-system/src/components/optimized-image/optimized-image.ts
  packages/design-system/src/components/optimized-image/utils/distortion.ts
Due: pnpm run format, pnpm run lint:fix

fix: remove img.stylize
  packages/design-system/src/components/optimized-image/optimized-image.ts
  packages/design-system/src/components/optimized-image/utils/distortion.ts
Due: pnpm run format, pnpm run lint:fix

fix: incorrect arguments was passed in findClosestToRatio fn
  packages/design-system/src/components/optimized-image/utils/distortion.ts
Due: pnpm run format, pnpm run lint:fix

feat: add srcsets
  apps/storybook/stories/Image.stories.ts
  packages/design-system/src/components/optimized-image/optimized-image.ts
  packages/design-system/src/components/optimized-image/utils/distortion.ts
Due: pnpm run format, pnpm run lint:fix

Path conditions:
  pnpm run format: any of: *.{json,js,ts,html}
  pnpm run lint:fix: any of: *.{js,ts}
