Repository TELEUZI/control.ts: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run format, pnpm run lint:fix

feat: add initial agents files
  .claude/skills/preact-signals-and-reactivity/SKILL.md
  .claude/skills/updating-html-element-tags/SKILL.md
  .claude/skills/workspace-component-development/SKILL.md
  AGENTS.MD
Due: none

chore: initialize workspace packages and update root dependency configurations
  package.json
  packages/control/package.json
  packages/control/tsconfig.build.json
  packages/design-system/package.json
  packages/design-system/tsconfig.build.json
  packages/min/package.json
  packages/min/tsconfig.build.json
  packages/signals/package.json
  packages/signals/tsconfig.build.json
  packages/tags-scraper/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm run format

chore: update Storybook application with vite and base configuration
  apps/storybook/.storybook/main.ts
  apps/storybook/package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix

chore: migrate eslint to flat config
  .eslintignore
  .eslintrc.js
  apps/storybook/.eslintrc.mjs
  apps/storybook/.storybook/main.ts
  apps/storybook/stories/Page.ts
  eslint.config.mjs
  package.json
  packages/control/.eslintrc.mjs
  packages/control/package.json
  packages/control/vite.config.mts
  packages/design-system/.eslintrc.mjs
  packages/design-system/package.json
  packages/design-system/vite.config.mts
  packages/eslint-config/common.js
  packages/eslint-config/package.json
  packages/min/.eslintrc.mjs
  packages/min/package.json
  packages/min/vite.config.mts
  packages/signals/.eslintrc.mjs
  packages/signals/package.json
  packages/signals/vite.config.mts
  packages/tags-scraper/.eslintrc.mjs
  packages/tags-scraper/package.json
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix

refactor: move DOM methods component to control
  CONTEXT.md
  packages/control/src/base-component.ts
  packages/control/src/index.ts
  packages/min/src/base-component.ts
  packages/signals/src/base-component.ts
Due: pnpm run format, pnpm run lint:fix

refactor: implement single factory for components
  packages/control/src/factories.ts
  packages/min/src/factories.ts
  packages/signals/src/factories.ts
Due: pnpm run format, pnpm run lint:fix

refactor: unify bcToFc utility to convert class components into functional components
  packages/control/src/utils/bc-to-fc.ts
  packages/control/src/utils/index.ts
  packages/min/src/bc-to-fc.ts
  packages/signals/src/bc-to-fc.ts
Due: pnpm run format, pnpm run lint:fix

feat: implement drag-and-drop system
  apps/web/package.json
  packages/control/DND_README.md
  packages/control/package.json
  packages/control/src/dnd/dnd.css
  packages/control/src/dnd/drag-drop-manager.ts
  packages/control/src/dnd/draggable.ts
  packages/control/src/dnd/drop-zone.ts
  packages/control/src/dnd/index.ts
  packages/control/src/index.ts
  packages/control/vite.config.mts
  packages/min/package.json
  packages/min/src/dnd/index.ts
  packages/min/src/index.ts
  packages/min/src/tests/dnd.test.ts
  packages/min/vite.config.mts
  packages/signals/src/base-component.ts
  packages/signals/src/tests/base-component.test.ts
  packages/signals/vite.config.mts
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix

chore: fix pnpm
  pnpm-lock.yaml
Due: none

docs: add changeset
  .changeset/proud-aliens-think.md
Due: none

feat: add example todo app
  apps/todo-list/index.html
  apps/todo-list/package.json
  apps/todo-list/src/app/app.ts
  apps/todo-list/src/app/components/add-task-form/add-task-form.module.scss
  apps/todo-list/src/app/components/add-task-form/add-task-form.ts
  apps/todo-list/src/app/components/task-card/task-card.module.scss
  apps/todo-list/src/app/components/task-card/task-card.ts
  apps/todo-list/src/app/interfaces/task.interface.ts
  apps/todo-list/src/app/pages/board/board.module.scss
  apps/todo-list/src/app/pages/board/board.ts
  apps/todo-list/src/app/pages/board/kanban-column/kanban-column.module.scss
  apps/todo-list/src/app/pages/board/kanban-column/kanban-column.ts
  apps/todo-list/src/data.ts
  apps/todo-list/src/main.ts
  apps/todo-list/src/styles/style.css
  apps/todo-list/src/vite-env.d.ts
  apps/todo-list/tsconfig.json
  apps/todo-list/vite.config.ts
  packages/control/DND_README.md
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix

feat: add basic router package
  packages/router/package.json
  packages/router/src/client.ts
  packages/router/src/index.ts
  packages/router/tsconfig.build.json
  packages/router/tsconfig.json
  packages/router/vite.config.mts
Due: pnpm run format, pnpm run lint:fix

fix: fix type issues
  apps/web/SSR_SETUP.md
  apps/web/src/app/app.ts
  apps/web/src/app/components/outlet/outlet.ts
  apps/web/src/app/routes.ts
  apps/web/src/entry-client.ts
  apps/web/tsconfig.json
  packages/control/src/hydrate.ts
  packages/control/src/index.ts
  packages/control/src/ssr.ts
  packages/min/src/hydrate.ts
  packages/min/src/ssr.ts
  packages/min/src/tests/hydration.test.ts
  packages/router/package.json
  packages/router/src/client.ts
  packages/router/src/index.ts
  packages/signals/src/hydrate.ts
  packages/signals/src/ssr.ts
  packages/signals/src/tests/hydration.test.ts
  packages/ssr/src/client.ts
  packages/ssr/src/prerender.ts
  packages/ssr/src/server.ts
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix

fix: fix tests
  packages/min/src/tests/hydration.test.ts
  packages/signals/src/tests/hydration.test.ts
  packages/ssr/package.json
  packages/ssr/src/tests/client.test.ts
  packages/ssr/src/tests/prerender.test.ts
  packages/ssr/src/tests/server.test.ts
  packages/ssr/vitest.config.mts
  pnpm-lock.yaml
Due: pnpm run format, pnpm run lint:fix

Path conditions:
  pnpm run format: any of: *.{json,js,ts,html}
  pnpm run lint:fix: any of: *.{js,ts}
